spacy~=3.0.5
spacy-streamlit>=1.0.0a0
sty~=1.0.0rc1
peewee~=3.13.3
tqdm~=4.58.0
scikit-learn~=0.24.1
ujson~=4.0.2
typer~=0.3.2
pytest~=6.2.2
streamlit~=0.78.0
pytorch-lightning~=1.2.6
transformers~=4.4.2
torch~=1.8.1
matplotlib~=3.3.4
azure-storage-blob~=12.7.1
tokenizers~=0.10.2
termcolor~=1.1.0
beautifulsoup4~=4.9.3
seqeval~=1.2.2
nervaluate~=0.1.8
scispacy~=0.4.0
numpy~=1.19.5
nltk~=3.6.5
setuptools~=52.0.0
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_lg-0.4.0.tar.gz
seaborn~=0.11.2
pandas~=1.2.3
clumper~=0.2.15
packaging==21.3
torchmetrics==0.2.0